.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.centered {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}